export(docker_run_mfcl)
export(create_dockerfile)
export(docker_build)
export(docker_remove)
export(docker_list_images)
export(docker_list_containers)
export(docker_image_exists)
export(docker_list_running_containers)
export(docker_stop_container)
export(docker_stop_unnecessary_containers)
export(docker_prune)
export(docker_pull)